{layout name="layout/layout" /}
<script src="../static/layui/layui/layui.all.js"></script>
<div style="padding: 10px;width: 100%;">
    <div class="controll-one">
        <div class="controll-one-1">
            <ul class="con-one-1-1">
                <li class="con-wariing">
                    <img src="../../../static/images/admin/con_deng_17.png" alt="" class="con-img">
                    设备预警
                </li>
                <li class="con-unkown">
                    <img src="../../../static/images/admin/con_28.png" alt="" class="con-img">
                    fgdds
                </li>
                <li class="con-customers-nums">
                    <img src="../../../static/images/admin/con_34.png" alt="" class="con-img">
                    总用户量
                </li>
            </ul>
        </div>
        <div class="controll-one-2">
            开发中....
        </div>
    </div>

</div>

