<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>产品</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,user-scalable=no">
    <link rel="stylesheet" href="/static/css/weui/weui.css"/>
    <link rel="stylesheet" href="/static/css/weui/weuix.css"/>
    <script src="/static/js/weui/echo.min.js"></script>

    <script>

        //懒加载
        echo.init({
            offset: 100,
            throttle: 250
        });


    </script>
</head>

<body ontouchstart>
<div class="page-bd-15">
    <img class="img-max lazy" data-echo="/static/images/img/pro1.jpg">
</div>

</body>
</html>