{include file='layout/header1' /}
<link rel="stylesheet" href="../../static/css/zTreeStyle.css">
<form class="layui-form" action="" style="padding-top: 10px;padding-right: 15px;">
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-block">
            <input type="password" name="old_password" lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入8~20位的数字或字母">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required|pass" autocomplete="off" class="layui-input" id="pwd" placeholder="请输入8~20位的数字或字母">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" name="password1" lay-verify="required|repass" autocomplete="off" class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
        </div>
    </div>
</form>
<script src="../../static/layui/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
        //验证
        form.verify({
            pass: [
                /^[a-zA-Z0-9]{8,20}$/
                ,'密码必须6到20位的数字或字母'
            ],
            repass: function(value){
                var pwd = $('#pwd').val();
                if(pwd!=value){
                    return '两次密码输入不一致，请重新输入！';
                }
            }
        });
        form.on('submit(demo1)', function(data){
            $.post('{:url("users/edit_pwd")}', data.field, function (res) {
                if (res.code == 200) {
                    layer.msg(res.msg);
                    setTimeout(function(){
                        window.parent.location.href = '{:url("users/login_out")}';
                    },800)
                    return false;
                }
                layer.msg(res.msg);
            }, 'json')
        });
    });


</script>

{include file='layout/footer1' /}